# Virtual environment
env/

# Build outputs
build/
dist/

# Caches
__pycache__/
.pytest_cache/

# IDE settings
.vscode/

# Miscellaneous
temp/

# Data
datasets/
test/resources/
grok/
test/teams/

teams39.txt
teams39update.txt